Source: dieid2mac
Section: unknown
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: dieid2mac
Architecture: all
Depends: iproute2, udev, ${misc:Depends}
Description: dieid2mac utility
 Converts a dieid to eth0's MAC address
